@tailwind base;
@tailwind components;
@tailwind utilities;

.imageAnim {
    animation: imageAnim 25s infinite linear;
}


@keyframes imageAnim {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);

    }
}


.textAnimNext {
    animation: textAnimNext .5s forwards;
}


@keyframes textAnimNext {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.textAnimBack {
    animation: textAnimBack .5s forwards;
}


@keyframes textAnimBack {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.scrollTransparent::-webkit-scrollbar {
    opacity: 0;
}